body {
	background-image:
		url("./assets/background.svg");
	background-size: cover;
}

.img{
	width: 40%;
	position: absolute;
	top: 2%;
	z-index: 3;
	opacity: 0.8;
}

.img:hover{
	opacity: 1;
}

#form{
	opacity: 0;
}

#form.is-show {
	opacity: 1;
	transition: opacity 500ms linear;
}

.opaco {
	padding: 2rem 3rem;
	backdrop-filter: blur(10px);
	border-radius: 0.7rem;
	opacity: 0;
}

.opaco.is-show {
	opacity: 1;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #1b202b;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 1,
		'wght' 500,
		'GRAD' 0,
		'opsz' 90
}